/*!
	Theme Name: miresumen
	Theme URI: http://miresumen.digital
	Author: @elnodos
	Author URI: https://migue.design
	Author Contact: hello@miresumen.digital
	Description: Agrega tus datos, selecciona una plantilla y descarga tu CV.
	Version: 1.0
	Copyright 2020
*/

/* Normalize
_____________________________________________________ */
@import "includes/_normalize.styl"

/* Prefixes
_____________________________________________________ */
@import "nib"

/* Constants
_____________________________________________________ */
@import "includes/_constants.styl"

/* Mixins
_____________________________________________________ */
@import "includes/_mixins.styl"

/* Grid
_____________________________________________________ */
@import "includes/_grid.styl"

/* Base
_____________________________________________________ */
@import "includes/base.styl"

// /* Buttons
// _____________________________________________________ */
// @import "includes/buttons.styl"

// /* topbar
// _____________________________________________________ */
// @import "includes/topbar.styl"

// /* Styles
// _____________________________________________________ */
// @import "includes/hero.styl"

// /* Subscribe
// _____________________________________________________ */
// @import "includes/subscribe.styl"

// /* Shared
// _____________________________________________________ */
// @import "includes/shared.styl"

// /* Search
// _____________________________________________________ */
// @import "includes/search.styl"

// /* Footer
// _____________________________________________________ */
// @import "includes/footer.styl"

// /* Main
// _____________________________________________________ */
// @import "includes/main.styl"

// /* Utilities
// _____________________________________________________ */
// @import "includes/content.styl"


