/*!
	Theme Name: miresumen
	Theme URI: http://miresumen.digital
	Author: @elnodos
	Author URI: https://migue.design
	Author Contact: hello@miresumen.digital
	Description: Agrega tus datos, selecciona una plantilla y descarga tu CV.
	Version: 1.0
	Copyright 2020
*/

/* Normalize
_____________________________________________________ */
@import "includes/_normalize.styl"

/* Prefixes
_____________________________________________________ */
@import "nib"

/* Constants
_____________________________________________________ */
@import "includes/_constants.styl"

/* Mixins
_____________________________________________________ */
@import "includes/_mixins.styl"

/* Grid
_____________________________________________________ */
@import "includes/_grid.styl"

/* Fonts
_____________________________________________________ */
@import "includes/fonts.styl"

/* Base
_____________________________________________________ */
@import "includes/base.styl"

/* MiResume V1
_____________________________________________________ */
@import "includes/content.styl"



