/* Colors
_____________________________________________________ */
// Brand colors
acent_color = #0C0310
light_color = #F2F4F5
smoke_color = #8D95A0
gray_color_1 = #E7E6E7
white_color = #fff


black_color = #000
gray_color_2 = #FBF9F8
gray_color_3 = #929BA8
gray_color_4 = rgba(black_color, .5)
primary_color = #D7CFC9
secondary_color = #66ede1


/* Typography
_____________________________________________________ */
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

tipography = circular-book;
tipography2 = circular-bold;
