@font-face {
    font-family: circular-book;
    src: url(../fonts/circular-std-book/CircularStd-Book.svg);
    src: url(../fonts/circular-std-book/CircularStd-Book.eot?#iefix) format("embedded-opentype"), url(../fonts/circular-std-book/CircularStd-Book.woff) format("woff"), url(../fonts/circular-std-book/CircularStd-Book.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}
.font-circular-book{
    font-family: circular-book
}

@font-face {
    font-family: circular-bold;
    src: url(../fonts/circular-std-bold/CircularStd-Bold.svg);
    src: url(../fonts/circular-std-bold/CircularStd-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/circular-std-bold/CircularStd-Bold.woff) format("woff"), url(../fonts/circular-std-bold/CircularStd-Bold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}
.font-circular-bold{
    font-family: circular-bold
}